[2018-04-10 14:10] manfye opened #1 "labeling of x axis?"
is it possible?

[2018-04-12 09:38] N1ghtly commented on #1
It's not possible so far. I will try to look into it as soon as I find the time :)

[2018-11-02 08:07] tarunmehta-quovantis opened #2 "I am getting error trying to register two views with the same name?"
I am getting error trying to register two views with the same name..Any solution?

[2018-11-02 08:32] panda0603 opened #3 "data labels in grid"
Hello,

is there any way to add text labels in the grid (not the axis), above or below the data coordinates?

[2018-11-28 16:15] almarto opened #4 "Example is not working"
After clone the repo and tried to run the example I found it's not working.

[2018-12-04 17:00] almarto opened #6 "New Feature: Show dots in graph"
It would be nice if you could provide a new feature to show points in the linechart for a better visualisation of every value

[2018-12-07 13:38] #6 closed

[2019-05-08 08:08] MuhammadUsman786786 opened #8 "Line chart x-axis labels text is overlapping."
![Capture](https://user-images.githubusercontent.com/29137881/57359894-aeb3d980-712d-11e9-87c0-08acce523f97.PNG)

In this image x-axis of the graph is overlapping. How can I hide the overlapping text so for now?
In the image, 12 May and 13 May are overlaps. I want to hide any of these.

[2019-05-19 08:56] N1ghtly commented on #8
Hi, there is no solution for this at the moment. What would be your preferred solution? It's kind of a difficult problem because you can't know the dimensions of text exactly with SVG...

[2019-05-19 08:56] N1ghtly commented on #4
Hi, I updated the example to no longer use Expo. It should work out of the box now!

[2019-05-19 08:56] #4 closed

[2019-05-19 09:25] MuhammadUsman786786 commented on #8
@N1ghtly one solution is that rotation of labels. But this library does provide this option also.

[2019-05-19 10:03] N1ghtly commented on #3
Hi, this is possible in v2 now!

[2019-05-19 10:03] #3 closed

[2019-05-19 10:03] N1ghtly commented on #2
Probably a mismatch of react-native-svg version? Closing for now, let me know if you re-encounter it.

[2019-05-19 10:03] #2 closed

[2019-05-28 10:51] N140233 opened #9 "interpolation spline along with dataPoint was creating problem"

[2019-07-01 13:11] hnrqsss opened #10 "How can I don't show datapoint in null values?"
For exemple.
yValues = [ 10, 20, 30, 40, null, 50 ]
xValues= [ 1, 2, 3, 4, 5, 6 ]
Actually if I use values like this the null value is marked with a dataPoint, but I can't show it.

I'd like to show a chart like this:

![https://firebasestorage.googleapis.com/v0/b/mercadodev-846c7.appspot.com/o/IMG_20190701_095936.jpg?alt=media&token=7ec78bbf-a3be-49be-a27c-4f76d6c864c6](https://firebasestorage.go

[2019-08-01 09:20] N1ghtly commented on #10
This is not possible in the current release.

[2019-08-01 09:20] N1ghtly commented on #9
Can you elaborate?

[2019-09-16 14:05] AilsonFreire commented on #9
![Screenshot_20190916-105429](https://user-images.githubusercontent.com/9551815/64964643-d6e8dd00-d871-11e9-8aa9-5d5c36081a56.png)

[2019-11-05 09:21] DhavalKakadiya commented on #10
I also want to know a solution to that type of data. I am using a react-native-svg chart. If anyone have solution for it then please share it.

[2019-11-25 09:00] Anu-kumari opened #12 "RNSVGText, can't able to create SVG image,"
We check our input for data and labels but not able to find this error,
Please help me to resolve ASAP
` Invariant Violation: Invariant Violation: [1089,"RNSVGText",11,{"matrix":[1,0,0,1,0,0],"rotation":0,"scaleX":1,"scaleY":1,"x":["<<NaN>>"],"y":[160],"propList":["fill"],"opacity":1,"fill":[0,-8947849],"fillRule":1,"fillOpacity":1,"stroke":null,"strokeOpacity":1,"strokeLinecap":0,"strokeLinejoin"

[2019-12-29 08:54] asnewman opened #14 "Having less that 2 data points causes app to crash."
Not sure if this is intended, but having 0 or 1 data points causes the app to crash when tapping on the linechart. Here is the full error:

[code]

[2020-02-04 15:08] lucca-cardial commented on #9
Do you solved this ?

[2020-03-07 20:51] WillReynolds5 opened #15 "Only get a white square rendering with width: '100%', and height: 100."
No graph shows up when I have data, and a simple config. Getting error "Unrecognized selector sent to instance"

[code]

[2020-03-12 16:09] ArvindKer commented on #9
![Screenshot 2020-03-12 at 9 38 30 PM](https://user-images.githubusercontent.com/45869604/76541579-d7250680-64a9-11ea-839c-7118034cb751.png)
Having same issue when using spline and dataPoint at the same time.

[2020-05-22 05:20] RNTop opened #17 "Does not show Max value at all"

[2020-05-22 05:24] RNTop opened #18 "If interpolation is spline, Tooltip not working like expected. Also If there are so much data points, it is the same."

[2020-05-22 05:25] RNTop opened #19 "Seems XLabels Does not working. never see it."

[2020-08-12 01:18] sraza295 commented on #19
@RNTop Did you find any solution?

[2020-08-12 01:19] sraza295 commented on #18
@RNTop Did you find any solution?

[2020-08-16 14:47] N1ghtly commented on #19
Hi guys, I'm closing this issue because version 3.0.0 is out. Horizontal axis labels should work there 👍
If it doesn't please open a new issue. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:47] #19 closed

[2020-08-16 14:48] N1ghtly commented on #17
Hi @RNTop, I'm closing this issue because version 3.0.0 is out. What exactly do you mean it doesn't show Max value?
If it's still a problem with the new version, please open a new issue. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:48] #17 closed

[2020-08-16 14:48] N1ghtly commented on #18
Hi guys, I'm closing this issue because version 3.0.0 is out. Interpolation is currently no longer supported, but if there is demand I will implement it again. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:48] #18 closed

[2020-08-16 14:49] N1ghtly commented on #15
Hi @WillReynolds5 , I'm closing this issue because version 3.0.0 is out. If this issue still occurs with the new version, please open a new issue. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:49] #15 closed

[2020-08-16 14:49] N1ghtly commented on #14
Hi @asnewman , I'm closing this issue because version 3.0.0 is out. If this issue still occurs with the new version, please open a new issue. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:49] #14 closed

[2020-08-16 14:50] N1ghtly commented on #12
Hi @Anu-kumari  , I'm closing this issue because version 3.0.0 is out. If this issue still occurs with the new version, please open a new issue. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:50] #12 closed

[2020-08-16 14:50] N1ghtly commented on #10
Hi @hnrqsss and @DhavalKakadiya  , I'm closing this issue because version 3.0.0 is out. This functionality is supported in the new version!

[2020-08-16 14:50] #10 closed

[2020-08-16 14:51] N1ghtly commented on #9
Hi guys, I'm closing this issue because version 3.0.0 is out. Interpolation is not supported in v3.0.0 at the moment, but if there is enough demand I will add the feature again. I'm committing myself to monitor & develop this library more consistently.

[2020-08-16 14:51] #9 closed

[2020-08-16 14:52] N1ghtly commented on #8
Hi @MuhammadUsman786786, I will include rotation config on labels in an upcoming release. Stay tuned!

[2020-08-18 12:05] N1ghtly commented on #8
@MuhammadUsman786786 This is now implemented since version 3.1.0.

[2020-08-18 12:05] #8 closed

[2020-08-19 11:51] N1ghtly commented on #18
@sraza295 @RNTop Spline interpolation is now implemented in v3. Tooltips should behave correctly as well!

[2020-08-28 08:17] SaeedZhiany opened #27 "Questions: supporting RTL languages? axis labels formatting"
Hi,
Thanks for your effort on this module.

I have two questions before start using it.

1. Does it support RTL languages (like Persian(Farsi) or Arabic) for axis labels and tooltips?
2. Is there functionality that I can format the Y and X axis labels using my own logic? (for example, convert the Y-values to MegaByte or Centigrade and etc.  or even converting x-axis date labels to another calendar

[2020-08-28 11:19] N1ghtly commented on #27
Hi @SaeedZhiany!

1. I'm not sure to be honest. If react-native-svg supports it through its `<Text />` component, it's definitely doable. How do you use RTL in other places in RN?
2. Absolutely. The Axis components can be given a `formatter` in the theme prop. Check out the vertical axis in this example: https://react-native-responsive-linechart.surge.sh/docs/line#combined-with-area-

[2020-08-28 14:25] SaeedZhiany commented on #27
Thanks

AFAIK `<Text/>` of react-native-svg does not support it. but `<TSpan>` does. [it recently added](https://github.com/react-native-community/react-native-svg/issues/439#issuecomment-524983074). its developer, @msand, may have new information about it.

[2020-08-28 14:36] N1ghtly commented on #27
I will have a look at it!

[2020-08-29 12:59] N1ghtly commented on #27
I tried with the text example from the issue you mentioned, and I see no issues:

![Screenshot 2020-08-29 at 14 58 11](https://user-images.githubusercontent.com/1395284/91637358-26cf9e00-ea08-11ea-9d15-9e279e7d2c8c.png)

Does this look okay to you or am I missing something here? (maybe it should actually be reversed?)

[2020-08-29 15:18] SaeedZhiany commented on #27
It looks right. thanks.

no, it is exactly what it should be 👍

[2020-08-29 15:22] SaeedZhiany commented on #27
Just one more question, are you using `<Text>` component for labels and tooltip? or `<Tspan>`?

[2020-08-29 17:37] N1ghtly commented on #27
Great! Closing this.

[2020-08-29 17:37] #27 closed

[2020-09-12 16:27] DavidePerozzi98 opened #28 "Tooltip callback and get tooltip proprieties"
Is it possible to call a function and get x and y props when moving tooltip through points?

[2020-09-13 08:41] N1ghtly commented on #28
Yes, I will implement it tomorrow!

[2020-09-14 08:22] N1ghtly commented on #28
Implemented in 3.4.0.

[2020-09-14 08:22] #28 closed

[2020-09-14 20:36] TowhidKashem opened #30 "Is it possible to scroll on the horizontal axis?"
Hi,

First thank you for the amazing plugin, I searched many charting libs for react native and this so far is the closest to what I was looking for!

My issue is I need to chart seconds on a line graph, here's how my graph looks charting 10 minutes:

<img width="366" alt="Screen Shot 2020-09-14 at 4 30 59 PM" src="https://user-images.githubusercontent.com/1139927/93135175-e9297100-f6a7-11ea-9bcf-

[2020-09-15 07:46] N1ghtly commented on #30
Hi @TowhidKashem, you can try wrapping the chart in a `ScrollView` with prop `horizontal`, and setting the `width` of the chart to a value larger than the screen's dimensions. It's possible that the GestureHandler the library uses internally for the tooltips will prevent you from scrolling. If so, I will add an option to disable the gesture handler.

[2020-09-15 15:14] N1ghtly commented on #30
Okay so scrolling turns out to be a bit more complicated than I anticipated. I have a working version in the `panGestureHandler` branch, but performance is horrible for large amounts of data. If I can resolve the performance issue I will merge it, but I'm afraid it will be quite the rewrite.

[2020-09-16 00:20] TowhidKashem commented on #30
Haha for some reason this didn't come to my mind, I guess a code change with the lib wasn't necessary (at least for my purposes). This works for me and I didn't notice any issues with the vertical scroll. I don't need to use tooltips for this graph but I tried it anyway and it didn't seem to prevent scroll FYI.

Anyway thanks for the tip!

[2020-09-16 00:20] #30 closed

[2020-09-16 17:25] N1ghtly commented on #30
Hi @TowhidKashem, just wanted to let you know that I was able to solve the performance issues and the library now natively supports scrolling through the `viewport` property. You can check it out at https://react-native-responsive-linechart.surge.sh/docs/line#with-viewport-scrollable-chart

[2020-10-06 18:05] blpcastanheira opened #33 "Tooltip is not working"
I'm trying to use tooltip in my chart but its not working.
The chart is shown, but the tooltip is never displayed.
Can you check the chart in demo project? Its not working for me.

Ty

[2020-10-06 18:13] N1ghtly commented on #33
Hi @blpcastanheira, I have just checked it and it appears to be working fine. Are you sure you're using the correct chart? Only the 4th one in the Demo application has tooltips enabled.

[2020-10-06 18:22] blpcastanheira commented on #33
Hey @N1ghtly,

I copied this chart (https://github.com/N1ghtly/react-native-responsive-linechart/blob/85cd0672bdfba567048b4bfb4428c6fe7786cb94/demo/App.tsx#L104) from App.tsx.

I'm using the version 5.1.0 and running on Android. I can't test this on iOS.

Ty

[2020-10-06 18:36] blpcastanheira commented on #33
Can you replicate the issue?

[2020-10-06 18:41] N1ghtly commented on #33
Yes I was able to replicate it. It turns out to be a rather simple mistake: the demo project did not complete the installation steps for `react-native-gesture-handler` correctly. Have a look at https://docs.swmansion.com/react-native-gesture-handler/docs/#android. I'm 99% sure that should solve your problem :)

[2020-10-06 19:01] blpcastanheira commented on #33
It worked!!
Ty bro :100:

[2020-10-06 19:15] N1ghtly commented on #33
Great, closing 🥳

[2020-10-06 19:15] #33 closed

[2020-10-12 16:55] jhonwms opened #34 "Error Area Chart with only one point"
i am getting an error when i have only one point for the chart ->

`Chart data={[
 { x: -2, y: 15 },
]}`

Error ->
![image00](https://user-images.githubusercontent.com/62893194/95772085-c926a680-0c81-11eb-8f33-dfa790dee324.png)

[2020-10-13 07:31] N1ghtly commented on #34
I will have a look at it 👍

[2020-10-13 09:21] N1ghtly commented on #34
Fixed in v5.2.1

[2020-10-13 09:21] #34 closed

[2020-11-12 14:28] techinsider99 opened #35 "Dynamic x-values are not plotted properly"
I'm trying to display yearly data (12 months) in a sliding window manner i.e. it can be anything among the 12 months that shifts each month in a forward manner such as,

I'm using the tickValues prop in the Line component to set xValues, and tickCount to 12 (since the number of months will always be the same irrespective of the sliding manner) so that the data will be displayed in the above said m

[2020-11-12 15:21] N1ghtly commented on #35
Hi @techinsider99, what exactly are you seeing? Can you provide a minimal example? (You can just alter the source file of the Demo app slightly)

[2020-11-12 16:27] techinsider99 commented on #35
Hi @N1ghtly, here is the screenshot of the plotted chart
![Simulator Screen Shot - iPhone 11](https://user-images.githubusercontent.com/48717171/98965957-b2999680-2530-11eb-83df-461c65697d4e.png)
The given data passed for tickValues prop in HorizontalAxis component is,

The above values are being passed into a helper function (getMonth()) to display the x values as months.

The data that is passed

[2020-11-13 09:03] N1ghtly commented on #35
Ahh I see what you are doing now! This is actually expected behaviour, if it wouldn't be like this, we would not be following the laws of mathematics. We can't render a data point with x = 12 on x = 1! You should solve this by always using 1-12 as X values, and using the formatter prop to show the correct month.

Eg, if you have this data:

| Nov | Dec | Jan | Feb | Mar | Apr | May | Jun | Jul | A

[2020-11-13 09:03] #35 closed

[2020-11-24 07:04] SaeedZhiany opened #36 "Feature Request: Support for stock line chart"
it would be great if you can add support for stock line charts.

![image](https://user-images.githubusercontent.com/13766432/100059600-9656fd00-2e40-11eb-90c0-b9fcd8f918c3.png)

https://www.highcharts.com/demo/stock/basic-line

[2020-11-24 08:32] N1ghtly commented on #36
Looks cool, but I believe you can create this with currently existing functionality. I'm trying not to bloat the library to much, so I probably won't implement this kind of specific chart anytime soon

[2020-11-24 12:08] SaeedZhiany commented on #36
I see, maybe you can add this issue to your repository's milestone, RN has a lack of js implementation for this kind of chart and it would be great have it out of the box. otherwise, it can be closed.

However, thanks for your attention and response.

[2020-11-24 13:20] N1ghtly commented on #36
I'm going to close it, but I'll keep it in mind :)

[2020-11-24 13:20] #36 closed

[2020-11-26 17:53] rwhitten577 opened #37 "Any way for native tooltip to overflow chart container?"
Hi there, thanks for this library. Works great for me so far, but I'm having trouble getting the tooltips at the end of the x or y axis to overflow and they are getting cut off. Is there any way to do this with the native Tooltip component? Thanks!

![IMG_442D4D9589E4-1](https://user-images.githubusercontent.com/19270062/100381181-66e1f500-2fe6-11eb-85f8-f71ce8dbb060.jpeg)

[2020-11-26 21:47] N1ghtly commented on #37
Hi, unfortunately SVG does not allow overflow outside of the parent container. I'll have to think about some clever way to move the tooltip component out of the chart svg. I'll look into it this week!

[2020-11-26 22:20] N1ghtly commented on #37
I've fixed it so it works as long as you don't define a custom viewBox (scrolling chart actually takes advantage of this non overflow property, so tooltips will still be cut off there). Check out v5.3.0 👍

[2020-11-26 22:20] #37 closed

[2020-11-26 22:26] rwhitten577 commented on #37
Awesome, thanks for your help!

[2020-11-30 10:09] jsmitrah opened #38 "Area chart overflow while scrolling on Release build"
Hi,

I'm facing an overflow issue with scrollable area chart. The area is overflowing while scrolling. It is working fine in the debug mode and the overflow problem arises only while installing an apk on real-devices.

Package versions:
"react-native": "0.63.3",
"react-native-gesture-handler": "^1.9.0",
"react-native-responsive-linechart": "^5.3.0",
"react-native-svg": "^12.1.0"

Tested devices:
1

[2020-11-30 10:15] N1ghtly commented on #38
Thanks for reporting, I will look into this

[2020-11-30 11:07] N1ghtly commented on #38
Fixed in v5.3.1

[2020-11-30 11:07] #38 closed

[2020-11-30 15:20] jsmitrah commented on #38
Great! v5.3.1 is working... Thanks for your quick response.

[2020-12-10 22:38] adderly opened #39 "Application crash if data points are <= 2"
InvalidNumber: M 0 NaN

-[RNSVGPathParser parse_number]
    RNSVGPathParser.m:543
-[RNSVGPathParser parse_list_number]
-[RNSVGPathParser getPath]
-[RNSVGPath setD:]
__49-[RCTComponentData createPropBlock:isShadowView:]_block_invoke.101
__49-[RCTComponentData createPropBlock:isShadowView:]_block_invoke_2.102
__49-[RCTComponentData propBlockForKey:isShadowView:]_block_invoke_2
RCTPerformBlockWithLog

[2020-12-11 08:20] N1ghtly commented on #39
Which chart props did you use?

[2020-12-20 09:47] flavordaaave commented on #37
@N1ghtly any chance the `scatter` could overflow as well? I have a round `scatter` for selection only which is currently cut of with the chart:

<img width="388" alt="Bildschirmfoto 2020-12-20 um 10 46 17" src="https://user-images.githubusercontent.com/5305150/102710166-c6af8100-42b0-11eb-8de7-2af98945e464.png">

[2020-12-20 09:52] flavordaaave opened #42 "Feature request: programmatically select dataPoint"
First of all, really nice library you got there!

When my chart is shown I always want top preselect the last dataPoint in the chart so it would be really great if the library would allow me to programmatically select a dataPoint.

[2020-12-20 20:48] N1ghtly commented on #37
@flavordaaave ah yes, good catch, I will fix that tomorrow.

[2020-12-20 20:49] N1ghtly commented on #42
Sounds useful, I'll add it tomorrow!

[2020-12-21 17:59] N1ghtly commented on #37
@flavordaaave Fixed in v5.3.2

[2020-12-24 08:45] N1ghtly commented on #39
Closing for inactivity. Feel free to re-open if you have a bit more information.

[2020-12-24 08:45] #39 closed

[2020-12-24 10:14] N1ghtly commented on #42
So I took a bit longer but it landed in v5.4.0 👍

[2020-12-24 10:14] #42 closed

[2020-12-24 17:54] flavordaaave commented on #42
That‘s what I call a Christmas present 😅

[2020-12-26 10:28] flavordaaave commented on #42
@N1ghtly Unfortunately the `initialTooltipIndex` prop is not working for me. I think the reason behind this is that my Chart is re-rendered as soon as the data has been fetched from the BE.
The `data`update triggers the `useEffect` within the `Line` component which than tries to update the index with `setTooltipIndex `. Since until now the user did not touch any datapoint the [`newIndex`](https://

[2020-12-26 10:34] N1ghtly commented on #42
Hmm I see, I'll probably have to keep a boolean whether the user has touched the chart or not. Not my favorite solution but I don't see another one atm. I'll try to get it in today 👍

[2020-12-26 11:09] flavordaaave commented on #42
Isn't the `lastTouch` from context already enough to check wether the user has touched the chart? Anyways, thanks for the effort!

[2020-12-27 20:48] N1ghtly commented on #42
Not really, because lastTouch is set to undefined when touch is released after a pan. But maybe I'll rework that system because it's not very clear this way. Was a bit busy but should have time tomorrow!

[2020-12-29 09:17] N1ghtly commented on #42
Hi @flavordaaave, it should work in v5.4.1 as long as the user doesn't manually place the tooltip somewhere between renders :)

[2021-01-01 02:10] olympiawoj opened #45 "Question - plotting dates in X-axis"
Hello! I've come across this library after trying a few other solutions for React Native charting. I am trying to adapt one of the area + line chart demos to fit my needs plotting a history of stock price over time.. I see that the value for the x-axis requires a number. Do you have any recommendations for how to best translate date -> number in order to plot this in the chart while also being abl

[2021-01-02 14:47] N1ghtly commented on #45
Hi there, converting to a number will probably be your best bet indeed. Optionally, you can pass the date in the `meta` prop of the chart values.

[2021-01-03 21:22] olympiawoj commented on #45
I was able to plot a chart by converting the x to index numbers - but how can I access the meta tag in the formatter function?

If `newObj` looks like this:
[code]

I've tried a few variations of the `formatter` function here, but haven't been able to get one working:
`
                 <HorizontalAxis tickCount={10} theme={{ labels: { formatter: (meta) => meta.toString() , label: {color: colors.m

[2021-01-04 10:18] N1ghtly commented on #45
I just realized I confused tooltip with axis label. On the axis you don't have a datapoint of course. So you would need to convert the number you receive on the axis to a date, much you like did there for meta in MyObject.

[2021-01-06 13:34] olympiawoj commented on #45
Thanks for your help @N1ghtly! I was able to put together this chart I'm pretty happy with so far - will keep adapting it to my needs, but thanks again for taking the time to respond -

![IMG_3892](https://user-images.githubusercontent.com/41010759/103773289-d214e300-4ff8-11eb-91b4-14b8e1907bf1.PNG)

[2021-01-06 13:35] #45 closed

[2021-01-06 14:01] N1ghtly commented on #45
Looks really cool! Good luck with the project :)

[2021-01-07 14:51] lohenyumnam opened #46 "Vertical line cursor & hide the tooltips when the user press out"
Hi,
I have tried almost all the other available Chart packages for RN, and I have to say this one is my favorite. Thank you for this beautiful library.

For a few days, I have been struggling with a few things.

1. How can I add a vertical line cursor which follows the tooltips?
(just like the one with App stock app)
![IMG_0603](https://user-images.githubusercontent.com/17508663/103906016-5e242900

[2021-01-07 15:14] N1ghtly commented on #46
Hi, thanks for the kind words!

1. You can create a custom Tooltip component, check out Tooltip.tsx for an example!
2. I've tried to do this before, but I always bumped into some edge cases with TapResponder (eg. detecting 3 taps when only pressed once etc.), but I'll have another look at it asap!

[2021-01-07 15:39] lohenyumnam commented on #46
### Thanks for the hit.
I was able to add the custom VerticaCursor with tooltips using this component as Tooltips
[code]

Thank You, Hoping for the best.

[2021-01-08 07:42] chende008 opened #47 "onTooltipSelectEnd event does not trigger"
In the latest version 5.4.1, the onTooltipSelectEnd event is not triggered, but it is normal in the 5.4.0 version

[2021-01-08 10:25] N1ghtly commented on #47
I'll check it out! Thanks for reporting

[2021-01-08 12:21] tlow92 opened #48 "Tooltip does not persist, when dragging instead of tapping"
Hi,

1. When tapping the Line the tooltip stays open, which is correct.
2. When touching and dragging the line the tooltip moves with the cursor. Upon release the tooltip is removed.

Is it supposed to behave like this? I would expect the tooltip to stay when releasing after the "touch and drag" interaction.

Edit: Using version 5.4.1

[2021-01-08 12:26] N1ghtly commented on #48
I suppose it should be configurable. I'll have a look at it!

[2021-01-08 14:53] N1ghtly commented on #47
Should be fixed in v5.4.2! Feel free to re-open if you still encounter issues.

[2021-01-08 14:53] #47 closed

[2021-01-08 14:54] N1ghtly commented on #48
v5.4.2 now exposes a new prop on Line: `hideTooltipOnDragEnd`

Set to true if the tooltip should be hidden when the user stops dragging the chart. It now persists by default.

[2021-01-08 14:54] #48 closed

[2021-01-08 14:55] N1ghtly commented on #46
v5.4.2 introduces a new prop on Line: `hideTooltipOnDragEnd`

Set to true if the tooltip should be hidden when the user stops dragging the chart.

Please close this if your issue is resolved by this :)

[2021-01-08 16:17] tlow92 commented on #48
Thanks, working great!

[2021-01-08 16:29] lohenyumnam commented on #46
Thank you for these options.
I think I explain it wrong. When the user taps on the chart the tooltips show up. and now that tooltips are showing the tooltips won't hide until the user drag on it. but what I am trying to achieve is, when the user Lift up the finger off the screen (**onPressOut**) I want the tooltips to hide automatically (maybe after a few sec or immediately).

[2021-01-09 09:40] lohenyumnam commented on #46
Ok, I was able to solve the problem by creating a new Line base on your code and add a few things to it.

I add a tooltip timer, which will be fire at a defined time when the user taps on the chart. this is optional and will only fire if the user added the value of `hideTooltipAfter`.

#### usage
[code]

[code]

I can send a PR if you like. ☺️

[2021-01-09 10:45] N1ghtly commented on #46
Ahh okay I see! In the current release the user can still remove the tooltip by tapping again btw. But a release after a certain time is definitely useful. I will integrate your code asap, but have to check for some edge cases as well

[2021-01-09 11:36] N1ghtly commented on #46
Should work in v5.4.3 :)

[2021-01-09 13:29] lohenyumnam commented on #46
Thank you. its perfect.

[2021-01-09 13:29] #46 closed

[2021-01-11 12:31] tlow92 opened #51 "Access close tooltip handler"
Hi,

is it possible to access setTooltipIndex in order to be able to close the tooltip in some cases?

The reason is, that often times you have different time periods that you can choose from. I am changing the x and y domain using state variable but the tooltip stays open, if you change the domain.

So either I could use the setTooltipIndex or the library has to close the tooltip when domain prop

[2021-01-11 13:17] tlow92 opened #52 "[Android] Tooltip closes immediately after touching"
Hi,

on Android there seems to be bug, where the Tooltip is opened for a short period of time after touching but closes immediately. When touching and holding for a second it stays open.

Screen recording of the demo project on my OnePlus 6 is attached below.

https://user-images.githubusercontent.com/12113052/104187126-ae4a0680-5417-11eb-9897-24ff5285e514.mp4

[2021-01-12 09:10] N1ghtly commented on #52
I will check it out asap, thanks for reporting

[2021-01-12 09:32] N1ghtly commented on #51
I think I'd prefer exposing setTooltipIndex. I'll try to implement it today or tomorrow!

[2021-01-12 20:30] adderly commented on #39
[code]
That is the properties i am using, but somehow if i add a couple of items with the same proportions(dimensions) the graph it crashes.

Invariant Violation: [5463,"RNSVGLine",11,{"matrix":[1,0,0,1,0,0],"propList":["stroke","strokeWidth","strokeOpacity"],"opacity":1,"fill":[0,4278190080],"fillRule":1,"fillOpacity":1,"stroke":[0,4291611852],"strokeOpacity":1,"strokeLinecap":0,"strokeLinejoin":

[2021-01-13 11:17] chende008 opened #53 "The vertical axis label is hidden"
https://user-images.githubusercontent.com/4397067/104445135-b9e22c80-55d3-11eb-9fcb-4ce1d498f17d.mov

During the sliding process, I don’t know why the first and last labels of the vertical axis are hidden (no rule found), I don’t know what I did wrong

[2021-01-13 14:18] N1ghtly commented on #53
Wow, that is incredibly weird! I'll see if I can reproduce this

[2021-01-13 14:21] N1ghtly commented on #52
Can you confirm that you run into this issue with the last version (v5.4.3)? I can't reproduce it on my side.

[2021-01-13 14:40] adderly commented on #39
I discovered my problem, it was that i was calculating my ydomain. And the values i was getting where min: 50, max: 50; apparently that is a no go zone. It crashed the program.

[2021-01-13 15:20] N1ghtly commented on #39
Ahh that makes sense! Thanks for letting me know 👍

[2021-01-13 16:40] N1ghtly commented on #52
Should definitely be fixed in v5.5.0! Please close this if you can confirm 👍

[2021-01-13 16:40] N1ghtly commented on #51
It's implemented but I don't have time to update the docs right now. You can use it though, just put a ref on <Line /> and call setTooltipIndex!

[2021-01-13 16:40] #51 closed

[2021-01-14 03:03] chende008 commented on #53
Hello, I wrote a demo program, which can reproduce the above problems stably. Please take a look at it. The following is the demo link address [responsive_linechart_bug](https://github.com/chende008/responsive_linechart_bug)

[2021-01-15 08:49] N1ghtly commented on #53
Thanks for the demo. I'll check it out asap.

[2021-01-15 11:19] tlow92 commented on #52
It's indeed fixed in latest version! Thanks alot!

[2021-01-15 11:19] #52 closed

[2021-01-15 11:22] tlow92 commented on #51
Thanks, can confirm that it is working! Really useful!

[2021-01-18 02:34] chende008 commented on #53
Hello, may I ask the question I have feedback, can you reproduce it smoothly through Demo? Is there any new progress in fixing the problem?

[2021-01-18 08:25] N1ghtly commented on #53
hi @chende008, I have not been able to look at it yet, but I should have some time today!

[2021-01-18 12:23] N1ghtly commented on #53
Hmm your sample app is broken on the latest release (5.5.0).

`Warning: Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or one of the dependencies changes on every render.
    in ForwardRef(Line) (at App.js:54)`

    I'll have to check this out first

[2021-01-18 12:52] N1ghtly commented on #53
Issue should be fixed in v5.5.1, as well as the error I encountered above ^.
Turned out to be a floating point comparison going wrong: 0.4404 < 0.44039999999999

Thanks for providing a reproducible demo, would not have found it otherwise.

[2021-01-18 12:52] #53 closed

[2021-01-19 06:16] chende008 commented on #53
Thank you very much, confirm that the issue has been fixed!

[2021-01-22 11:30] St1ma opened #54 "Updates request: scatter design by data && stroke style (dashed, dotted, etc)"
First of all, thanks a lot for this charming lightweight library (I've finally was able to replace highcharts monster)!

Few properties I can't find how to make custom:
1. Scatter bullet - is it possible to change their color, size, or whatever by the value of dot is actually rendering now? (I assume, theme property set as a function could do a trick)
2. Would be great (not urgent) to have the abi

[2021-01-22 13:13] N1ghtly commented on #54
Hi @St1ma, using a function for theming the scatter would be a first for this lib, I'll have to think about how to implement this and communicate it clearly in the docs. Also might look at other places where this makes sense.

2. Should not be too difficult if react-native-svg works correctly, I'll add it to the list.

[2021-01-23 18:10] george-franklin opened #55 "Tap issue"
Hi, thanks for the great library! I'm having some trouble rendering multiple lines, as long as i have just one line and the data is provided in the chart everything's good. When i try to move the data to the line or add another line with different data and i tap over the chart i get the following error:

ERROR    Warning: Maximum update depth exceeded. This can happen when a component calls setSta

[2021-01-24 09:26] N1ghtly commented on #55
Can you please confirm you are using the latest version? There was a very similar issue one or two versions ago :)

[2021-01-25 09:06] N1ghtly commented on #54
You can now pass `dashArray` to the Line theme to create dashed lines.

I'll try to get the other feature in somewhere this week

[2021-01-25 12:37] St1ma commented on #54
@N1ghtly Thanks a lot!

[2021-01-25 13:24] St1ma commented on #54
@N1ghtly Sorry, if I've missed something, but can I add dashArray property to grid>stroke section of VerticalAxis or HorizontalAxis components?

[2021-01-25 13:26] N1ghtly commented on #54
Ohhh I see now, I thought you were talking about the Line component. I'll add it for grid and the axis as well.

[2021-01-25 13:29] St1ma commented on #54
@N1ghtly Thanks anyway)
Also, I've faced a crash on the initial rendering of my Line chart after updating to 5.6.0 version

<img width="331" alt="Screenshot 2021-01-25 at 15 26 53" src="https://user-images.githubusercontent.com/4223266/105711947-e2e2b580-5f21-11eb-9afc-0c3e9b369784.png">

The Chart component code:

[code]

Any suggestions?

[2021-01-25 13:32] N1ghtly commented on #54
Hmm, can you confirm that xDomain and yDomain are not something like [1,1] (would overflow)

[2021-01-25 13:43] N1ghtly commented on #54
dashArray is added to the Axis components as well (you can check docs)

[2021-01-25 14:10] St1ma commented on #54
@N1ghtly both xDomain and yDomain contain { min: number, max: number } objects

Just downgraded to 5.5.1 version and everything works fine

[2021-01-25 14:19] N1ghtly commented on #54
That's crazy, barely anything changed. I can't reproduce it either, would it be possible to provide a minimal demo? (You can just alter the demo project in the repo)

[2021-01-25 14:32] St1ma commented on #54
@N1ghtly
No worries, seems like our backend was just updated and instead of numeric data they send some status strings...
Sorry for that mess

[2021-01-25 14:36] N1ghtly commented on #54
Aha okay!

[2021-01-31 00:43] AliMonam opened #57 "Custom Tooltip"
Could you please provide a simple example for a custom Tooltip. I try this but nothing change. Thank you in advance!
                <Line
                    initialTooltipIndex={3}
                    hideTooltipOnDragEnd
                    tooltipComponent={<Tooltip />}
                    theme={{
                      Tooltip: {
                        label: {
                          colo

[2021-01-31 20:23] N1ghtly commented on #57
Please have a look here: https://react-native-responsive-linechart.surge.sh/docs/tooltip

You have to pass the theme prop on <Tooltip /> itself

[2021-01-31 20:23] #57 closed

[2021-01-31 20:24] N1ghtly commented on #55
Closing because of inactivity. Please re-open if the issue still persists in the latest version.

[2021-01-31 20:24] #55 closed

[2021-02-01 11:33] mohzameer opened #58 "Unable to scroll in the Android but works in iOS"
I have implemented charts library inside react-native-modal. The issue is that we are unable to tap or scroll through the graph. works in iOS, but issue is in Android.

[2021-02-01 13:12] N1ghtly commented on #58
can you create a minimal reproducible demo? You can simply adapt the demo project in the repo. The issue is probably that react-native-modal takes control of the gesturehandler

[2021-02-01 14:29] zameerascentic commented on #58
**Works with plain modal**, but _with react navigation wrapped about the App, it doesn't work_.

import Modal from 'react-native-modal';
import 'react-native-gesture-handler';
import { NavigationContainer } from '@react-navigation/native';
import { createStackNavigator } from '@react-navigation/stack';

function HomeScreen() {
  return (

      <Modal style={{flex:1}} isVisible={true}>
        <Vi

[2021-02-01 15:25] N1ghtly commented on #58
Thank you, I will have a look at it asap

[2021-02-02 03:14] zameerascentic opened #59 "Setting large x values for ViewportOrigin doesn't work"
With a x range set with a state like this` xDomain={{ min: 0, max: xMax }}` which xMax state value comes around 65.
When we set the origin as this where `viewport={{ size: { width: 7 }, initialOrigin: {x: xMax, y: 0}}`,
doesn't scroll to 65, but like half of it.
**But if we set 65 directly it works, but with a changing state it doesn't work.**

[2021-02-02 08:30] N1ghtly commented on #59
Hmm, you are setting the initialOrigin to the most-right point of the chart though, so that wouldn't work. If you want to scroll immediately to the end, can you try setting initialOrigin to xMax - width (7 in this case)?

[2021-02-02 10:44] zameerascentic commented on #59
xMax - 7 => 65 - 7
Comes to the left most - starting point. Doesn't go to the right most point.

[2021-02-02 13:27] N1ghtly commented on #59
I'm still not entirely clear to me what your issue is, could you provide a screenshot maybe?

[2021-02-02 17:08] zameerascentic commented on #59
With this setting,
[code]
(xMax is set to 65 in the state)
This is what I get, **at the first render graph is going to half of the graph.**
![image](https://user-images.githubusercontent.com/31923811/106635532-f7205580-65a6-11eb-9f5b-4973383c50f0.png)

But given the documentation, this is how it should be? the graph should be scrolling to any X value (in this case far end of the right corner - to

[2021-02-02 17:50] N1ghtly commented on #59
Just so we're on the same page; in the following situation:
[code]

We would expect the chart to render the part from 40-50 on the x axis.
`viewport.width + initialOrigin.x` can *never* exceed `xDomain.max`

[2021-02-03 03:53] zameerascentic commented on #59
Thanks for bearing with me on the issue.
This will work
`initialOrigin: { x: 40, y: 0 },
`
my issue is that,

this will not work
setxMax(10); //in the useEffects

and
`initialOrigin: { x: xMax, y: 0 },
`
That's the issue I'm talking, when it's set through the useState hook in useEffects, it doesn't work.
Except that, really great work, library works great and fits for our use case than almost all

[2021-02-03 09:34] N1ghtly commented on #59
Chart now has a method setViewportOrigin where you can imperatively change it! Please close if this solves your issue :)

[2021-02-03 09:34] N1ghtly commented on #58
Should be fixed in 5.7.0 (GestureHandlerRootView used). Please close if this fixes your issue :)

[2021-02-03 10:26] zameerascentic commented on #58
It's still doesn't work. I tried with GestureHandlerRootView couple of days before as well, it did not work. Were you able to work it with the above reproducible demo?

[2021-02-03 10:31] zameerascentic commented on #59
Solved it! thanks!

[2021-02-03 10:31] #59 closed

[2021-02-04 21:51] N1ghtly commented on #58
Ahh no, I figured it worked because I saw it in your PR. It seems like I won't have time in the next few days to look at it though, fyi.

[2021-02-05 05:15] geethavijaya commented on #58
Same issue we are facing?. Please let us know when this issue will be fixed.

[2021-02-15 07:00] BlackWild commented on #39
@N1ghtly
I am not sure why this issue is closed because I believe it is a bug. Currently, when I do not provide `min` and `max` to `yDomain` prop of the chart, `min` and `max` values should be calculated automatically. However, if I pass data as:
[code]
it causes the whole app to crash which I believe should not happen! I think it makes sense to add a small margin to the calculated `min` and `max`

[2021-02-15 07:05] BlackWild commented on #39
I think it may be a good idea to add two optional keys to the `yDomain` and `xDomain` props as `minMargin` and `maxMargin`. Which will be subtracted/added to the calculated `min` and `max` values.

[2021-02-18 10:43] meridPL opened #65 "Background area"
Hi,

I want draw area the background from the top chart to the line. Do you have this option

[2021-02-28 16:13] yairEO opened #66 "Demo page isn't loading"

[2021-03-01 09:34] DarshanNDK commented on #51
I am having the similar problem, tried to set & receive the ref on <Tooltip/>, <Line/> and <Chart/>, but unsuccessful,
where do I put the ref and get the value of it?

[2021-03-01 10:07] DarshanNDK commented on #51
just checked out the code, I am pretty sure I need to use it on Line component,
not sure why it isn't working,
it's a React Function component,
doing something like,
`
import React from 'react';
import {
  Chart,
} from 'react-native-responsive-linechart';

function CustomChart () {
const chartTooltipRef = React.useRef(null);
return (
  <Chart ... >
      <Line
        ref={chartTooltipRef}

[2021-03-01 10:20] DarshanNDK commented on #51
Nevermind, turns out that I was using an older version of the library.
My bad, should've checked before posting here.

Thanks :)
Appreciate the hard work on this library.

[2021-03-02 08:13] DarshanNDK commented on #37
Having the same issue, it's still not working for me on android.
Am I missing something?

![Screenshot_1614672539](https://user-images.githubusercontent.com/61319469/109618053-1d60f300-7b5d-11eb-9ba4-771825c7d821.png)
![Screenshot_1614672641](https://user-images.githubusercontent.com/61319469/109618059-1f2ab680-7b5d-11eb-9bbd-d07f233ba50b.png)
![Screenshot_1614672645](https://user-images.githubuse

[2021-03-02 10:23] N1ghtly commented on #37
You have to supply enough padding for the tooltip to overflow "into" (on <Chart /> component)

[2021-03-02 10:56] DarshanNDK commented on #37
@N1ghtly , thanks for the reply.

Okay, so if there is a long tooltip text then I will have to give it a lot of padding?

and if I do give a big padding, it will result in smaller chart, no?

[2021-03-02 11:09] hamidashoor98 opened #68 "how to show tooltip value in x Axis"
how to show tooltip value in x Axis
tooltip just show Y Axis :
![image](https://user-images.githubusercontent.com/54837510/109639867-f7d7e780-7b64-11eb-96ac-0997d9df6e03.png)
and I want show the X Axis together

[2021-03-02 12:24] N1ghtly commented on #37
That's correct.

[2021-03-02 12:41] DarshanNDK commented on #37
Okay, understood,

do you think that it is possible to implement some positioning logic for library (using dx,dy & position prop)?

if so, I will try and have a PR ready.

[2021-03-02 12:58] N1ghtly commented on #37
Definitely possible, the supplied Tooltip component is quite simple & "dumb" at the moment haha :)

[2021-03-02 13:00] DarshanNDK commented on #37
Haha, nice one,
I'll see what I can do,

Thank you so much :)

[2021-03-03 16:29] N1ghtly commented on #68
You will have to use a custom Tooltip component. Check out the implementation of Tooltip.tsx!

[2021-03-03 16:29] #68 closed

[2021-03-19 17:09] SamuelFairbrass opened #69 "Setting view port start"
Hi, love the plugin! Very flexible and easy to install, and looks great. I was wondering if there is a way of starting the chart on the right of the data, rather than the left, like a stocks chart that can be scrolled.

For example, on a chart of 1 to 100 days, would it be possible to start at Day 90 rather than day 1 if the viewport is 10?

[2021-03-19 17:15] #69 closed

[2021-03-19 17:15] SamuelFairbrass commented on #69
Re-read the docs and saw it could be set with `initialOrigin: {x: xMaxValue - viewportWidth}`

[2021-03-19 17:28] SamuelFairbrass commented on #45
@olympiawoj in what format did you set the x-datapoint? Currently trying to do this myself and can't figure it out

[2021-03-26 03:49] benjaminle9x opened #70 "Set horizontal axis in be in time (not number)"
How do I set the horizontal axis to be in time (E.g hh:mm)?

[2021-03-27 09:39] jasonwu13 commented on #70
i want the same feature

[2021-03-30 07:18] BlackWild commented on #70
In your `<HorizontalAxis />` component you can use a label formatter like this:

[code]

I use `Moment.js` for formatting but you can use anything you want!

[2021-03-30 07:32] BlackWild opened #71 "Passing whole ChartPointData to all custom formatter functions"
I am not sure why the formatter function for `<HorizontalAxis />` does not support using the `meta` entry in points' data. Currently it works like this:
[code]
I am trying to include extra characters in the x axis using the `meta` property. I think it would be great if it was possible to pass all the data to the formatter function! for example:
[code]
I believe it may break backward compatibility

[2021-03-30 11:56] N1ghtly commented on #70
Like BlackWild explained, use any date lib to format your value to a date :)

[2021-03-30 11:56] #70 closed

[2021-03-30 11:58] N1ghtly commented on #71
Hi BlackWild,

The reason for this is that ticks on the horizontal axis do no necessarily line up with data points of the chart.
It would be quite a breaking change to implement this now, because it would remove a lot of existing functionality for the axis at this moment, like specifying number of ticks or axis tick values.

Unless I am missing something?

[2021-04-03 12:27] BlackWild commented on #71
Since I am not familiar with the source code of this project, please close this issue if you think this change will break a lot of current functionalities. However, what I had in mind was being able to use additional information in labeling of the points on the axis. I didn't think it would break any functionality if we only change the place in the code where the label of the points are going to b

[2021-04-06 09:22] tlow92 opened #76 "disableGestures also disables tooltip dragging"
Hi,
To my understanding `disableTouch` is supposed to disable tooltips and `disableGestures` is supposed to disable the scrolling.
When using `disableGestures` it also disables the dragging of the tooltips, I think this should only be the case when using `disableTouch`, or we need to add another prop.

Excerpt from documentation:
[code]

[2021-04-14 08:16] benjaminle9x opened #77 "Multi-coloured line"
How do I set different line colours between each point? (E.g. if y value < 12, the line colour is red. else if y value > 12, the line colour is blue)

[2021-04-14 10:30] xanderdeseyn commented on #77
Not supported atm.

[2021-04-14 10:30] #77 closed, assigned to nobody

[2021-05-01 15:18] voonic commented on #2
Strange, but I am still facing the issue.

[2021-05-04 14:50] jerus1403 opened #81 "Chart does not display all data"
My data array has about 28 element but chart does not display all of them for some reason. I used a combination of Line and Area to display my chart. Like you see, in the renderChartLine function, I log [data] to the console and see all 28 elements from my data but when I check the chart, it only displays about 11 elements or so. I include 2 pictures of my code and hope that anyone can see what I'

[2021-05-06 20:39] aaronpropst commented on #65
I managed to build one by implementing my own custom area, the trick though, was that it needs to be named "Area"
Because it is discovered by name by the chart here:
https://github.com/N1ghtly/react-native-responsive-linechart/blob/master/src/Chart.tsx#L151

So once I removed the reference to the real Area and established my own, I could create an svg rectangle with a gradient in it.

One bummer a

[2021-05-06 21:27] aaronpropst commented on #54
I second the need for this:

I need to be able to provide svg shapes of my own for inclusion on each point (based on data) I could potentially submit a PR for this.  Let me know if you have any direction that may ensure acceptance.

[2021-05-07 15:33] tlow92 opened #83 "Smoothing leads to cut-off at max and min values"
If using smoothing the graph is cut-off, when peaks lead to min or max values.
This can be circumvented by artifically lowering the domain's min and increasing the max.

The problem is that manipulating the min and max can not be done pixelwise.
A better approach would be to have some pixel-related value like the current inset or padding.
Unfortunately padding is currently added to the View around

[2021-05-07 16:10] bekir-arkulpa opened #84 "chart skips a part of my data"
Hello ,
First of all thank you for doing this library which really is one of the best , or the best chart library i have seen for rn.
My problem is that the chart skips part of my data while going over it with the tooltip.
I customized the tooltip component for my own use case and the Horizontalaxis component i customized too
so it fits my use case. i already tried the same data with stock compone

[2021-05-21 09:39] manav-kasare opened #93 "Android crash on production"
android app crashed on release build when the line graph component is rendered. Works fine on android debug. Also works fine on iOS.

here's my component

[code]

Calling like this
`<LineGraph data={likes} key="likes" />`

Setting likes like this
` setLikes({
          data: _likes,
          yMin: getMin(_likes),
          yMax: getMax(_likes),
          xMax,
          xMin,
        });`

[2021-05-23 07:37] SaeedZhiany commented on #27
Hi again, @xanderdeseyn

do you remember what version of react-native-svg you used when testing Persian/Arabic text rendering in [this comment](https://github.com/N1ghtly/react-native-responsive-linechart/issues/27#issuecomment-683287120)?

I just start using your library and upgraded my react-native-svg in my project to v12.1.1 and the texts are cluttered. 😕 It seems @msand has reverted the chang

[2021-06-01 08:55] yg-yash opened #96 "Custom ToolTip Working In Android But Not In IOS"

[2021-06-01 09:05] #96 closed, assigned to nobody

[2021-06-06 18:01] xanderdeseyn commented on #81
Hi, probably something wrong with the `viewport` or `yDomain` you are setting. Does it work if you leave out those props?

[2021-06-06 18:02] xanderdeseyn commented on #66
Please provide a more detailed explanation. How are you trying to run the demo? I'm closing this but you can re-open if needed.

[2021-06-06 18:02] #66 closed

[2021-06-07 15:36] jerus1403 commented on #81
Thank you for helping me out. I figured it out. Yes, it was my setting for the yDomain.

[2021-06-08 07:37] xanderdeseyn commented on #81
Great!

[2021-06-08 07:37] #81 closed, assigned to nobody

[2021-06-18 04:05] jaymu53 opened #104 "Any way to set the grid visibility off?"
I'm using the chart component and can't get the grid visibility to turn off.

[2021-06-18 04:14] #104 closed, assigned to nobody

[2021-06-18 13:25] #84 closed, assigned to nobody

[2021-07-08 10:19] vivkikkk commented on #93
me to how to fix android not work , ios work

[2021-07-09 01:49] NongKaittong commented on #93
@methineeinkan  same android crash on release in react native version 0.64.2

[2021-07-09 01:56] thipmanus commented on #93
[Android] How to fix it ? My release app is crashing.

[2021-07-09 04:45] vivkikkk commented on #93
work for me  https://github.com/indiespirit/react-native-chart-kit/issues/344

[2021-07-16 21:06] davidbwaters commented on #54
Any update on customizing the scatter dot/bullet?

[2021-07-23 10:00] tlow92 commented on #93
@methineeinkan @thipmanus @NongKaittong Make sure to only draw the chart, when you have more than 2 data points. Otherwise android crashes with an exception when drawing the svg.

[2021-07-26 09:58] gayathri-nair03 opened #108 "Show different colors on a single line in line chart"
I need to show 2 different colors in a line. Is that possible here now?

[2021-08-01 01:41] gjakobson commented on #108
I got it done very simply:  literally display 2 lines, each in a different color, the 2nd line starting where the 1st line ends.

So for example, if your data is D = [{1,1},{2,1},{3,2},{4,0}] and you want 2 different colors starting in the middle of the series, split it into D1=[{1,1},{2,1}] and D2=[{3,2},{4,0}]

and now very literally do
<Chart>
  <Line data=D1 color.....>
  <Line data=D2 color..

[2021-08-04 12:11] Devanshu008 opened #112 "Date Format"
I want to Get X-axis data in Date Format. I used  "formatter: (v) => moment(v).format("MMM DD") }" in Horizontal Axis but it didn't work.

[2021-08-06 13:45] tlow92 opened #113 "no handler is called when tapping the tooltip"
1. Select index on Line which creates a tooltip
2. Select same index again
3. Tooltip hides but no handler is called

Ideally we want to call a handler in that case. Otherwise we are unable to know if the user pressed the tooltip.
Often times you have additional logic which e.g. shows numbers outside of the actual chart that depend on the selected index.

I suspect we need to add something like on

[2021-08-09 13:26] #108 closed, assigned to nobody

[2021-08-10 12:38] pillaedu commented on #112
I had to use moment.unix(v).format("MMM DD") to work.

[2021-08-13 14:22] tlow92 commented on #83
@N1ghtly Here is another example where its more visible. Should we add some kind of padding into the library for these cases?
![image](https://user-images.githubusercontent.com/12113052/129371526-8dc7d797-faaf-458e-bb57-8264ab7d68d4.png)

Without smoothing, it is not cut off.
![image](https://user-images.githubusercontent.com/12113052/129371913-cd4d24a2-a23b-45ae-be83-bcf4e06eb5ed.png)

[2021-08-17 05:33] patrickspafford opened #117 "Scrollable Chart Takes 1 Pan to "Wake Up""
Hello Responsive Linechart Team,

After playing around with a scrollable `<Chart />` component on the physical device, I noticed that when you pan to scroll, it definitely works, but the user has to pan once before their second pan actually scrolls successfully. The first pan gesture event appears to do nothing from the user's perspective. The `disableTouch` prop seems to have no effect and no cus

[2021-08-23 18:11] MonliH opened #118 "Performance Issues with Large Amounts of Data"
Thanks for the awesome library! It's incredibly easy to use and looks great! However, the drag to scroll functionality is very sluggish with large (e.g., 4k+) amounts of data. Is there a way to speed this up somehow?

If the chart gets redrawn every time the cart is scrolled, then I'd see why there's this performance problem. I'm not sure how it's implemented internally, but it could be wise to dr

[2021-08-24 15:00] mikeislearning opened #119 "Border is not used in <Line />"
Here's what my line code looks like, and works fine:
[code]

<img width="324" alt="Screen Shot 2021-08-24 at 10 59 44 AM" src="https://user-images.githubusercontent.com/3151928/130640408-31205df9-1a19-4e90-86bf-076c13aa8cb9.png">

But it doesn't seem to recognize the values passed into "border". I read through the source code, and it doesn't look like the values from border are being applied. Anyo

[2021-09-12 06:26] Farzin-Firoozi commented on #27
same issue here
![Screenshot_1631427942](https://user-images.githubusercontent.com/52259209/132974516-db23846a-48d3-49b0-bd3f-3f504bf650ba.png)

[2021-09-15 12:06] bekir-arkulpa commented on #118
Also having the same problem . with large amount of data chart becomes laggy while scrolling, is there not a possibility to render the chart once completly and wrap it in a scrollview ? If someone got it to work would appreciate an answer , because i love this libraries customizability , we customized everything and even made it zoomable with setViewport origin function and zooming right in the mi

[2021-09-16 09:13] jinghongchan opened #121 "Line is cut off when data is at the max Y domain"
Hi, I noticed the line is cut off when the datapoints is exactly at the max/min y domain. Is there a way to allow the line to overflow the container?

![IMG_63DFDD10EB1A-1](https://user-images.githubusercontent.com/81164523/133585182-7cce1925-8f80-4311-9525-83fd1c41c402.jpeg)

[2021-09-19 02:26] MonliH commented on #118
For other people with the same issue, we decided to switch to [react-native-svg-charts](https://github.com/JesperLekland/react-native-svg-charts), wrapped in a `ScrollView`.

It works perfectly, and the performance is much better (completely smooth scrolling). The poor performance is seriously a deal breaker here.

[2021-09-21 05:12] SaeedZhiany commented on #27
@xanderdeseyn

It seems only y-Axis using `TSpan` element and the others are all `<Text>` elements, or if you are already using `TSpan` for all texts, you're not set `inlineSize` prop for them. (inlineSize are an important value (workaround) to make `TSpan`s work for RTL languages.

you can take a look at [this comment](https://github.com/react-native-svg/react-native-svg/issues/439#issuecomment-5

[2021-09-21 15:34] mzu opened #123 "HorizontalAxis formatter with index param?"
Hi. Quick question regarding `HorizontalAxis`. Is there a way to access the index of the `tickValues` as a param in `formatter`?

Something like:

[code]

It would help rendering additional context for the given `dataPoints` as part of the labels on the x-axis.

If this or an alternative solution is not possible, would it be hard to add this as a feature?

[2021-09-22 18:40] amiinous commented on #27
use this repo https://github.com/font-store/persian-reshaper to prepare RTL text to be used in SVG Text component

[2021-09-23 08:11] Farzin-Firoozi commented on #27
@amiinous Tnx You're a saviour!

[2021-09-25 16:04] wibimaster commented on #118
I got a 1 second lag' with 31 entries...

@MonliH Can you share (privately ?) a tutorial for your smooth solution ?

[2021-09-27 08:59] bekir-arkulpa commented on #118
we switched to victory native, they have a extra section for performance called zoom in large data sets in docs.
Zoom behaviour sucks with pinch to zoom with fingers but we switched it with + - buttons to zoom and it works pretty well

[2021-10-13 08:43] pettinz commented on #119
Fixed in my pull request #147

[2021-10-23 10:07] SaeedZhiany commented on #27
@Farzin-Firoozi did the persian-reshaper package help you? I didn't see any improvement

[2021-10-23 10:53] Farzin-Firoozi commented on #27
My issue was with [victory-native](https://formidable.com/open-source/victory/docs/native/ ) that uses `react-native-svg` and this converter worked for me.

[2021-10-23 11:18] SaeedZhiany commented on #27
Great!

I'm also starting to use victory-native. does persian-reshaper package perfectly work on react-native? if yes which function you're using?

I just figure out that the Persian characters cluttering in react-native-svg is happening on Android only and iOS just works fine out of the box. that's why [@xanderdeseyn's comment](https://github.com/xanderdeseyn/react-native-responsive-linechart/iss

[2021-10-23 12:00] SaeedZhiany commented on #27
I found another reshaper package that has better documentation and it's working fine for me.

https://github.com/soimy/arabic-persian-reshaper

[2021-10-26 13:50] lindan4 opened #128 "Crashing issue when all y-values are zero"
I am using this library to generate a graph to plot health history.

I have a method which generates points (x-coordinates and y-coordinates)

[code]

Assuming that there are no entries for a month, all points should be {x: n, y: 0) where 0 <= n < number of days in month.

The chart element is rendered as follows.

[code]

[code]

When all y-values are zero, I get numerous errors including:

![ima

[2021-11-02 13:59] lindan4 commented on #128
I am following up to ask if you have looked into the issue. Please let me know. Thank you.

[2021-11-03 14:31] mohzameer opened #129 "How to do a paged swipe?"
How to set a paged swipe, so that dragging/swiping only scrolls for a week/month at a time?
Reason for the Paged swipe is to have control of the values on the x-axis at the start and end of viewport to show like 'March 7 - 14'. In the absence of paged swipe, Is there an event that enables us to get the current viewport values based on the scrolled part of graph?

[2021-11-04 07:13] #58 closed

[2021-11-04 07:13] mohzameer commented on #58
The problem was with using the chart on a modal.

[2021-11-12 11:59] aLemonFox opened #130 "Use borderRadius style?"
Is it possible to use `borderRadius` prop on `<Chart>`? Currently the area doesn't match the parents bounds:
[code]

[2021-11-12 20:36] bekir-arkulpa commented on #129
We build something similar, buttons to make a scrollable chart that has options for 1 day, 1 week and 1 month timeframe for one page/width.
If you want i can send you a sample, at the end we did not use it and switched to native charting libraries because the performance was horrible with swiping.

[2021-11-13 11:51] mohzameer commented on #129
Oh ok, thanks for the input. Native chart libraries, which ones?

[2021-11-13 11:55] bekir-arkulpa commented on #129
For IOS https://github.com/danielgindi/Charts
And for Android we used MPAndroidCharts.
But we have Native Android and IOS Developers that helped us with the Native implementation.
There is a tutorial in React Native docs to communicate and implement Native components.

[2021-11-13 11:58] SaeedZhiany commented on #129
I guess [react-native-charts-wrapper](https://github.com/wuxudong/react-native-charts-wrapper) is the only native chart solution for RN projects. it wraps libraries mentioned in [the above comment](https://github.com/xanderdeseyn/react-native-responsive-linechart/issues/129#issuecomment-968056570).

[2021-12-10 14:45] bartdelange opened #132 "Tooltip zIndex/elevation"
The tooltip is below the other lines when having a multiline chart

<img width="122" alt="image" src="https://user-images.githubusercontent.com/32978882/145592283-7739b5cb-e205-4024-a722-883618ac506c.png">

[2021-12-28 11:49] faizantariq1 commented on #37
HI @rwhitten577  how did you apply dates on the scrollable chart?

[2021-12-28 14:04] rwhitten577 commented on #37
@faizantariq1 convert your data values to a Unix timestamp, then use the label `formatter` function to convert it back to a date string in the format you want, e.g. `formatter: (v: number) => moment(v).format("MMM DD")`

https://react-native-responsive-linechart.surge.sh/docs/horizontalaxis#horizontalaxis-default-theme

[2021-12-28 17:20] faizantariq1 commented on #37
@rwhitten577 thankx, i'm doing the same. but want to use the infinite scroll so using the view port with width(which is not adjusting correctly), so when i removed the viewport it's working fine. giving a very short value in viewport

[2021-12-30 12:28] faizantariq1 commented on #128
@lindan4 did you find the solution?

[2022-01-02 14:34] apfz opened #133 "How can I create a new line within the tooltip?"
I have tried to add \n and \r to the formatter output but I am unable to create a new line.

`formatter: (v: ChartDataPoint) =>  'Testing a very long \n\r sentence'`

How do I accomplish this?

[2022-01-03 19:58] apfz commented on #133
I have created a custom tooltip to do this.

[2022-01-03 19:58] #133 closed, assigned to nobody

[2022-01-03 20:00] apfz opened #134 "How do I animate a line chart?"
After updating the state with new data I would like to animate a line chart.

I tried to do something like this:

[code]

But x is expected to be a number. How can I accomplish this?

[2022-01-03 20:02] apfz commented on #130
Try adding overflow: 'hidden' to the style.

[code]

[2022-01-05 07:04] IKTANIM commented on #54
Is there any way to show or hide scatter points based on the meta data?? Can I add logic to Scatter point?? @xanderdeseyn

[2022-01-05 12:40] IKTANIM opened #135 "Tooltip show two times"
![image](https://user-images.githubusercontent.com/33126653/148219323-93646ed6-3840-4b99-91f2-fd77ed0fbee7.png)

**Tooltip show two times it should only one data at a time not all the nearest point data. Please fix this issue.**

[2022-01-05 12:43] IKTANIM commented on #132
**I am also facing the same issue**
![image](https://user-images.githubusercontent.com/33126653/148219511-8b59b523-eb01-4c83-bd95-f090c9496372.png)

[2022-01-14 10:10] aLemonFox commented on #130
Forgot this issue was still open. Setting `overflow: 'hidden'` works. Thanks @apfz!

[2022-01-14 10:10] #130 closed, assigned to nobody

[2022-01-19 16:08] CoryWritesCode commented on #83
Running into this issue also. Find any solutions @tlow92?

[2022-01-20 09:35] tlow92 commented on #83
Unfortunately not. Only the workaround that I outlined in the initial post: Manipulating the min max values so that they are below and above the actual min max values of the graph.

[2022-01-20 15:42] CoryWritesCode opened #137 "Export prop typs so HOCs can be made"
At the moment there is no way for you to `import { Chart, ChartProps } from 'react-native-responsive-chart'` so you could make a HOC to utilize the chart but with your own customization. It would be nice if you could export the prop types so this could be a reality.

[example](https://github.com/xanderdeseyn/react-native-responsive-linechart/blob/master/src/Chart.tsx#L17)

### Side note
I might tr

[2022-01-20 15:45] CoryWritesCode commented on #83
if I get some time I might try and take crack at fixing this. I'm not to keen on finding the min/max of my larger datasets I'm working with to have to do this. And this library seems to be one of the only decent ones that's maintained well with a smaller footprint for RN.

[2022-01-21 22:19] a-eid commented on #135
make sure you have 1 tooltip component rendered.

[2022-01-22 02:13] IKTANIM commented on #135
This issue occurs when I show two line graphs in one chart. How to render 1 tooltip when you have multiple line graphs on a single chart @a-eid ??

[2022-01-30 00:56] a-eid commented on #135
I would add a description to give an idea of what is the behavior you think is best to handle this

[2022-02-04 08:45] tlow92 commented on #121
Same issue, but gets worst when smoothing is used: https://github.com/xanderdeseyn/react-native-responsive-linechart/issues/83

[2022-02-13 12:16] LiveXenon opened #140 "Bug - Encountered two children with the same key"
Encountered two children with the same key, `1`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version.

The problem appears when graph contains 2 or more equal y values, example:

[code]

Affected platforms: iOS and Android

[2022-03-07 04:47] MPDubs opened #146 "Break with latest react-native-gesture-handler dependency?"
Getting the error "**Invariant Violation: requireNativeComponent: "RNGestureHandlerRootView was not found in the UIManager**" when trying to render the `<Chart></Chart>`.

This has occurred since the update of [react-native-gesture-handler](https://github.com/software-mansion/react-native-gesture-handler) to version 2.3.0. **I was able to get rid of this breaking error by downgrading the react-nat

[2022-03-14 06:04] IKTANIM opened #148 "All the drag point is not selected while dragging or selecting"
<img width="403" alt="Screen Shot 2022-03-14 at 11 11 15 AM" src="https://user-images.githubusercontent.com/33126653/158109334-1cf340f8-db8e-4201-ab9c-2177492ea587.png">
@xanderdeseyn red marks dot's is not selected while dragging because both have same x value. How to solve this??

sample data I have used
[code]

[2022-03-14 07:06] lukasa1993 commented on #140
any love for this ?

[2022-03-25 07:50] mashad6 commented on #9
@ArvindKer have you found any workaround for this? i am facing the same issue

[2022-04-15 14:39] bilal9876 opened #152 "scatter, but at the same time, tooltip."
I need to view the actual point value when i click on the label.

please is there any solution.

[2022-04-17 13:51] Engazan commented on #119
still not merged :/

[2022-04-22 10:40] adrian-burkhart commented on #45
In case anyone else comes across this:

You can format the labels of any of the axis by passing a formatter function to the theme prop. Using that function, you can then swap out the numbers for any kind of strings.

To display dates as labels on an axis, you could for instance create an array of **dates** (as strings) and then pass a formatter function like this:

[code]

[2022-04-22 10:46] adrian-burkhart commented on #152
@bilal9876 Do you still need help? If yes, could you explain a bit more what you mean? Do you mean that you want a tooltip to open when clicking on the label of an axis?

[2022-04-22 11:01] adrian-burkhart commented on #83
@tlow92 Have you tried adding top padding to the padding prop of the <Chart /> component? Like this:

`<Chart padding={{ left: 0, bottom: 0, right: 0, top: 50 }} >`

And if yes, have you also tried fiddling around with the viewport prop of the <Chart /> component? Like this:

`viewport={{size: { width: 3, height: 25 }}}`

[2022-04-22 11:22] adrian-burkhart commented on #77
@benjaminle9x Probably not relevant for you anymore, but I think this issue can be solved by adding two <Line /> components, as outlined here by @gjakobson: https://github.com/xanderdeseyn/react-native-responsive-linechart/issues/108#issuecomment-890430625

[2022-04-22 12:20] bilal9876 commented on #152
Hi. '
Yes, I Solved the previous issue.
**But Unfortunately**, _a new problem arises_. How can I use a logarithmic chart in react native. Moreover, the variation should be in X and Y. So, I have a multi dimensional array.

[2022-04-22 20:44] IKTANIM commented on #133
Can you please share the custom tooltips code.

[2022-04-27 18:39] nick-0101 commented on #134
Did you manage to find a solution? I'm having the same problem

[2022-05-08 16:17] apfz commented on #134
Unfortunately not, I am still wondering how to do it

[2022-05-09 11:58] nick-0101 commented on #134
I ended up moving to victory native charts. It's a much better project that was animation support and customization.

[2022-05-19 19:38] Livijn opened #157 "Exception thrown when having 0 or 1 data point in `<Area>` and `<Line>`"
I am getting an exception thrown when having 0 or 1 data point in `<Area>` and `<Line>`. It works when the data set is >= 2.

Here is the exception:

[2022-06-26 15:17] erfinbadrian commented on #157
Field sizes are different.

Make sure your data is with same length.

[2022-07-23 03:20] bluephoton opened #166 "Getting An error when using example provided"
I'm getting this error on the <Chart> element:

Property 'children' does not exist on type 'IntrinsicAttributes & Props'

[2022-08-02 17:15] PoolNolascoRamirez commented on #112
Hello friends, Thanks @pillaedu, your solution helped me a lot. But I encontered other problem. My data is in daily form and string format (Easily I can convert string to unix, this is not problem). But when I use my daily dates (for example 13 dates) to plot, it does not show entire and inside the width of the plot. This stretches infinitely towards the positive x-axis. I think two posible parame

[2022-08-03 02:49] PoolNolascoRamirez commented on #112
Hello again, I have found the solution to my problem before. First at all i am working whit horizontal scroll graph. So it can not show day by day because when I use unix (method proposed by @pillaedu), react-native-responsive-linechart takes dates second by second. In my case dates are day by day, then the line extended to positive infinity until the next day was found. You only have to set in th

[2022-08-08 12:03] tlow92 commented on #83
@adrian-burkhart Unfortunately that did not really help. Fiddling with viewport can prevent the bottom cut-off (even though it's hard to get it working for dynamic values where it's depending on min, max values). But this does not work for cut-off at the top.

I created a snack to illustrate the issue.
https://snack.expo.dev/@tlow92/react-native-responsive-linechart-cut-off
Can also be reproduced

[2022-09-13 12:02] OnurSerbes opened #168 "Can't Add Multiple Lines to Separate Areas"
I am using multiple areas but ı can't add and configure lines when ı use separate areas. Therefore ı can't add and configure tooltips for each one of the lines. Is there a way to add a specific line for each area?

[2022-10-05 11:41] pfearon opened #169 "cubic spline smoothing issue"
Hi there,
We've had an issue where a cubic-spline appears to loop back on itself - any ideas what might be causing this?

![IMG_9094 2](https://user-images.githubusercontent.com/99055706/194052165-b4b8bd0f-16bf-42f7-9007-bb5aaaf2c8d3.PNG)

[2022-10-28 13:00] SyedSaifAli commented on #113
Hey @tlow92 Were you able to solve this somehow? I am also not able to identify whether use has preseed the tooltip or not in IOS.